@keyframes moves-right {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moves-left {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moves-up {
  0% {
    opacity: 0;
    transform: translate(10rem -10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }
  @media only screen and (min-width: 112.5em) {
    body {
      padding: 0; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0 auto; } }
  @media only screen and (min-width: 112.5em) {
    body {
      padding: 0 auto; } }

::selection {
  background-color: #7ed56f;
  color: #fff; }

body {
  font-weight: 400;
  line-height: 1.7;
  font-family: lato, sans-serif; }

.primary-header {
  text-transform: uppercase;
  position: absolute;
  backface-visibility: hidden;
  top: 40%;
  left: 30%;
  transform: translate(-50% -50%);
  color: #f7f7f7;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .primary-header {
      top: 40%;
      left: 30%;
      transform: translate(-50% -50%); } }
  @media only screen and (min-width: 112.5em) {
    .primary-header {
      top: 40%;
      left: 30%;
      transform: translate(-50% -50%); } }

.text-box {
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
  display: block;
  animation: moves-right 1s; }
  @media only screen and (max-width: 56.25em) {
    .text-box {
      letter-spacing: 1.5rem;
      font-size: 5rem; } }
  @media only screen and (min-width: 112.5em) {
    .text-box {
      letter-spacing: 1.5rem;
      font-size: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .text-box {
      font-size: 3.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .text-box {
      font-size: 3.5rem; } }

.text {
  display: block;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1.5rem;
  animation: moves-left 1s; }
  @media only screen and (max-width: 56.25em) {
    .text {
      letter-spacing: 1rem;
      font-size: 1.8rem; } }
  @media only screen and (min-width: 112.5em) {
    .text {
      letter-spacing: 1rem;
      font-size: 1.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .text {
      letter-spacing: .5rem;
      font-size: 1.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .text {
      letter-spacing: .5rem;
      font-size: 1.5rem; } }

.secondary-header {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  color: #7ed56f;
  transition: all .2s;
  letter-spacing: .2rem; }
  @supports (-webkit-background-clip: text) {
    .secondary-header {
      background-image: linear-gradient(to right bottom, #55c57a, #28b485);
      -webkit-background-clip: text;
      color: transparent; } }
  @media only screen and (max-width: 75em) {
    .secondary-header {
      font-size: 2.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .secondary-header {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .secondary-header {
      font-size: 2rem; } }
  @media only screen and (min-width: 112.5em) {
    .secondary-header {
      font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .secondary-header {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .secondary-header {
      font-size: 1.5rem; } }
  .secondary-header:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

div .row {
  position: relative;
  left: 5rem; }

.tertiary-header {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 12rem; }
  @media only screen and (max-width: 56.25em) {
    .tertiary-header {
      margin-left: 5rem; } }
  @media only screen and (min-width: 112.5em) {
    .tertiary-header {
      margin-left: 5rem; } }

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 12rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      margin-left: 5rem; } }
  @media only screen and (min-width: 112.5em) {
    .paragraph {
      margin-left: 5rem; } }
  .paragraph:not(last-child) {
    margin-bottom: 3rem; }

.ul-main-center {
  text-align: center !important; }

.ul-main-margin-bottom {
  margin-bottom: 5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .ul-main-margin-bottom {
      margin-bottom: 2rem; } }
  @media only screen and (min-width: 112.5em) {
    .ul-main-margin-bottom {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .ul-main-margin-bottom {
      margin-bottom: 1rem; } }
  @media only screen and (min-width: 112.5em) {
    .ul-main-margin-bottom {
      margin-bottom: 1rem; } }

.ul-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.ul-margin-bottom-large {
  margin-bottom: 8rem; }

.btn,
.btn:link .btn:visited {
  text-transform: uppercase;
  border: none; }

.btn--white {
  background-color: #f7f7f7;
  color: #777;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 2rem;
  text-align: center;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .btn--white {
      padding: 1.4rem 2.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .btn--white {
      padding: 1.4rem 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn--white {
      left: 0;
      padding: 1rem 2rem;
      font-size: 1.4rem; } }
  @media only screen and (min-width: 112.5em) {
    .btn--white {
      left: 0;
      padding: 1rem 2rem;
      font-size: 1.4rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem #000 0.2; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem #000 0.2; }

.btn::after {
  background-color: #f7f7f7;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  z-index: -1;
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center; }

.btn:hover::after {
  transform: scaleX(1.4);
  opacity: 0; }

.btn--animate {
  animation: moves-up 2s ease-in; }

.btn-text:link, .btn-text:visited {
  color: #7ed56f;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid #7ed56f;
  margin-left: 12rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  padding: 2px;
  transform: translateY(-2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.15); }

.btn--green {
  background-color: #7ed56f;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 2rem;
  position: relative;
  left: 1rem;
  border: none; }
  @media only screen and (max-width: 37.5em) {
    .btn--green {
      margin-top: 1rem; } }
  @media only screen and (min-width: 112.5em) {
    .btn--green {
      margin-top: 1rem; } }
  .btn--green::after {
    background-color: #7ed56f;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0; }
  .btn--green:hover::after {
    transform: scaleX(1.4);
    opacity: 0; }

.composition {
  translate: all .2s; }
  .composition-photo {
    width: 55%;
    z-index: 10;
    translate: all .2s;
    outline-offset: 2rem;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    .composition-photo:hover {
      outline: 2rem solid #7ed56f;
      z-index: 20;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
      transform: scaleX(1); }
  .composition .composition:hover .composition-photo:not(:hover) {
    transform: scaleX(0.9); }
  .composition_photo1 {
    top: 0;
    left: 0; }
  .composition_photo2 {
    top: -14rem;
    left: 20rem; }
  .composition_photo3 {
    top: -25rem;
    left: 9rem; }

.feature_box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 2rem;
  width: 100%;
  text-align: center;
  display: inline-block;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .feature_box {
      padding: 1.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .feature_box {
      padding: 1.5rem; } }
  .feature_box:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .feature_box--icon {
    font-size: 6rem;
    display: inline-block;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right bottom, #55c57a, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature_box--icon {
        margin-bottom: 0; } }
    @media only screen and (min-width: 112.5em) {
      .feature_box--icon {
        margin-bottom: 0; } }

.tertiary-header2 {
  margin-left: .5rem; }

.cards {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .cards_side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
    .cards_side--front {
      background-color: #fff; }
    .cards_side--back {
      transform: rotateY(180deg); }
      .cards_side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .cards_side--back-2 {
        background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
      .cards_side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .cards:hover .cards_side--front {
    transform: rotateY(-180deg); }
  .cards:hover .cards_side--back {
    transform: rotateY(0deg); }
  .cards_picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen; }
  .cards_picture--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .cards_picture--2 {
    background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(../img/nat-6.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .cards_picture--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .cards_heading {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    left: 10rem;
    width: 65%; }
  .cards_heading--span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .cards_heading--span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .cards_heading--span-2 {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }
    .cards_heading--span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .cards_details {
    padding: 3rem;
    margin: 0 auto; }
    .cards_details:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .cards .cards_list {
    list-style: none; }
  .cards .cards_item {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem; }
  .cards_cta {
    width: 90%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .cards_price--box {
    color: #fff;
    margin-bottom: 3rem; }
  .cards_price--only {
    font-size: 1.5rem;
    text-transform: uppercase; }
  .cards_price--value {
    font-size: 6rem;
    font-weight: 100; }

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .cards {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
    .cards_side {
      height: auto;
      position: relative;
      width: 100%;
      box-shadow: none; }
      .cards_side--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
    .cards_details {
      padding: 1rem 3rem; }
    .cards:hover .cards_side--front {
      transform: rotateY(0); }
    .cards:hover .cards_side--back {
      transform: rotateY(0); }
    .cards_cta {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      padding: 7rem 4rem 4rem 4rem; }
    .cards_price--box {
      margin-bottom: 2rem; }
    .cards_price--value {
      font-size: 6rem; } }

.story {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (min-width: 112.5em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0);
      padding: 3rem;
      padding-left: 5rem; } }
  @media only screen and (min-width: 112.5em) {
    .story {
      transform: skewX(0);
      padding: 3rem;
      padding-left: 5rem; } }
  .story_shape {
    height: 15rem;
    width: 15rem;
    float: left;
    position: relative;
    transition: all .4s;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(-3rem) skewX(12deg); }
    @supports (clip-path: polygon(0 0)) {
      .story_shape {
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story_shape {
        transform: translateX(-3rem) skewX(0); } }
    @media only screen and (min-width: 112.5em) {
      .story_shape {
        transform: translateX(-3rem) skewX(0); } }
  .story_img {
    height: 100%;
    transform: translateX(-4rem) scaleX(1); }
  .story:hover .story_img {
    transform: scale(1.4);
    filter: blur(3px) brightness(80%); }
  .story_text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story_text {
        transform: skewX(0); } }
    @media only screen and (min-width: 112.5em) {
      .story_text {
        transform: skewX(0); } }
  .story_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.4s;
    backface-visibility: hidden; }
  .story:hover .story_caption {
    transform: translate(-50%, -50%);
    opacity: 1; }

.bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg_video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form_group:not(:last-child) {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .form_group:not(:last-child) {
      margin-bottom: 1rem; } }
  @media only screen and (min-width: 112.5em) {
    .form_group:not(:last-child) {
      margin-bottom: 1rem; } }

.form_input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  display: block;
  width: 90%;
  border-bottom: 3px solid transparent;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form_input {
      width: 100%; } }
  @media only screen and (min-width: 112.5em) {
    .form_input {
      width: 100%; } }
  .form_input::-webkit-input-placeholder {
    color: #999; }
  .form_input:focus {
    outline: none;
    border-bottom: 3px solid #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form_input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form_label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  transition: all .3s; }

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form_radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem;
  position: relative; }

.form_radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form_radio-group {
      width: 70%; } }
  @media only screen and (min-width: 112.5em) {
    .form_radio-group {
      width: 70%; } }

.form_radio-input {
  display: none; }

.form_radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #7ed56f;
  display: inline-block;
  position: absolute;
  top: -.4rem;
  left: 0;
  translate: all .2s; }
  .form_radio-button::after {
    display: block;
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7ed56f;
    opacity: 0; }

.form_radio-input:checked ~ .form_radio-label .form_radio-button::after {
  opacity: 1; }

header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg); }
  @supports (clip-path: polygon(0 0)) and (-webkit-clip-path: polygon(0 0)) {
    header {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    header {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media only screen and (max-width: 56.25em) {
    header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  @media only screen and (min-width: 112.5em) {
    header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  @media only screen and (max-width: 37.5em) {
    header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      background-size: cover; } }
  @media only screen and (min-width: 112.5em) {
    header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      background-size: cover; } }

.header_logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .header_logo-box {
      top: 2.5rem;
      left: 2.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .header_logo-box {
      top: 2.5rem;
      left: 2.5rem; } }

.header_natour-img {
  height: 3.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
    @media only screen and (min-width: 112.5em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row [class^="col-"] {
      width: 100% !important; } }
  @media only screen and (min-width: 112.5em) {
    .row [class^="col-"] {
      width: 100% !important; } }
  @media only screen and (max-width: 56.25em) {
    .row [class^="col-"] {
      margin-right: 0;
      margin-bottom: 6rem; } }
  @media only screen and (min-width: 112.5em) {
    .row [class^="col-"] {
      margin-right: 0;
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 4rem; } }
  @media only screen and (min-width: 112.5em) {
    .row {
      max-width: 50rem;
      padding: 0 4rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - (6rem *2)) /3);
    float: left; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
  .row .col-2-of-3 {
    width: calc(((100% - (6rem *2)) /3 )  + 6rem);
    background-color: orangered;
    float: left; }
    .row .col-2-of-3:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-4 {
    width: calc((100% - (6rem *3)) /4);
    float: left; }
    .row .col-1-of-4:not(:last-child) {
      margin-right: 6rem; }
  .row .col-2-of-4 {
    width: calc(((100% - (6rem *2)) /4 ) *2);
    background-color: orangered;
    float: left; }
    .row .col-2-of-4:not(:last-child) {
      margin-right: 6rem; }
  .row .col-3-of-4 {
    width: calc(((100% - 6rem) /3 ) *2);
    background-color: orangered;
    float: left; }
    .row .col-3-of-4:not(:last-child) {
      margin-right: 6rem; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.2rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 6rem; } }
  @media only screen and (min-width: 112.5em) {
    .footer {
      padding: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 4rem; } }
  @media only screen and (min-width: 112.5em) {
    .footer {
      padding: 4rem; } }
  .footer_logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer_logo-box {
        margin-bottom: 6rem; } }
    @media only screen and (min-width: 112.5em) {
      .footer_logo-box {
        margin-bottom: 6rem; } }
  .footer_img {
    width: 15rem;
    height: auto; }
  .footer_navigation {
    border-top: 1px solid #777;
    display: inline-block;
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer_navigation {
        width: 100%;
        text-align: center; } }
    @media only screen and (min-width: 112.5em) {
      .footer_navigation {
        width: 100%;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .footer_navigation {
        width: 100%;
        text-align: center; } }
    @media only screen and (min-width: 112.5em) {
      .footer_navigation {
        width: 100%;
        text-align: center; } }
  .footer_list {
    list-style: none; }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer_link:link, .footer_link:visited {
    color: #f7f7f7;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    translate: all .2s;
    background-color: #333; }
  .footer_link:hover, .footer_link:active {
    color: #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2); }
  .footer_copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 37.5em) {
      .footer_copyright {
        width: 100%;
        float: none;
        text-align: center; } }
    @media only screen and (min-width: 112.5em) {
      .footer_copyright {
        width: 100%;
        float: none;
        text-align: center; } }
    @media only screen and (max-width: 56.25em) {
      .footer_copyright {
        width: 100%;
        float: none;
        text-align: center; } }
    @media only screen and (min-width: 112.5em) {
      .footer_copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.navigation_checkbox {
  display: none; }

.navigation_button {
  text-align: center;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation_button {
      right: 4rem;
      top: 4rem; } }
  @media only screen and (min-width: 112.5em) {
    .navigation_button {
      right: 4rem;
      top: 4rem; } }

.navigation_background {
  background-image: radial-gradient(#55c57a, #28b485);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.87, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation_background {
      right: 4.5rem;
      top: 4.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .navigation_background {
      right: 4.5rem;
      top: 4.5rem; } }

.navigation_nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation_item {
  margin: 1rem; }

.navigation_link, .navigation:link, .navigation:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  padding: 1rem 2rem;
  transition: all .4s; }
  .navigation_link span, .navigation:link span, .navigation:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
  .navigation_link:hover, .navigation_link:active, .navigation:link:hover, .navigation:link:active, .navigation:visited:hover, .navigation:visited:active {
    background-position: 100%;
    transform: translateX(1rem);
    color: #7ed56f; }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80); }

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%; }

.navigation_icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation_icon, .navigation_icon::after, .navigation_icon::before {
    height: 2px;
    width: 3rem;
    background-color: #333;
    display: inline-block; }
  .navigation_icon::after, .navigation_icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.4s; }
  .navigation_icon::after {
    top: .8rem; }
  .navigation_icon::before {
    top: -.8rem; }

.navigation_button:hover .navigation_icon::after {
  top: 1rem; }

.navigation_button:hover .navigation_icon::before {
  top: -1rem; }

.navigation_checkbox:checked ~ .navigation_button .navigation_icon {
  background-color: transparent; }

.navigation_checkbox:checked ~ .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(135deg); }

.navigation_checkbox:checked ~ .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(-135deg); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (backdrop-filter: blur 10px) {
    .popup {
      backdrop-filter: blur 10px; } }
  .popup_content {
    background-color: #f7f7f7;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    display: table; }
    @media only screen and (max-width: 56.25em) {
      .popup_content {
        width: 90%;
        border-radius: none; } }
    @media only screen and (min-width: 112.5em) {
      .popup_content {
        width: 90%;
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .popup_content {
        width: 100%;
        border-radius: none; } }
    @media only screen and (min-width: 112.5em) {
      .popup_content {
        width: 100%;
        border-radius: none; } }
  .popup_left {
    width: 33.333333%;
    display: table-cell;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .popup_left {
        padding: 1rem 2rem;
        width: 60%; } }
    @media only screen and (min-width: 112.5em) {
      .popup_left {
        padding: 1rem 2rem;
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .popup_left {
        width: 40%;
        vertical-align: middle; } }
    @media only screen and (min-width: 112.5em) {
      .popup_left {
        width: 40%;
        vertical-align: middle; } }
  .popup_right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup_right {
        padding: 2rem 4rem; } }
    @media only screen and (min-width: 112.5em) {
      .popup_right {
        padding: 2rem 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .popup_right {
        padding: 1rem 2rem;
        width: 75%; } }
    @media only screen and (min-width: 112.5em) {
      .popup_right {
        padding: 1rem 2rem;
        width: 75%; } }
  .popup_img {
    display: block;
    width: 130%; }
  .popup_text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid #eee;
    hyphens: auto; }
    @media only screen and (max-width: 56.25em) {
      .popup_text {
        font-size: 1rem;
        margin-bottom: 2.5rem;
        column-gap: normal;
        column-count: auto;
        column-rule: none; } }
    @media only screen and (min-width: 112.5em) {
      .popup_text {
        font-size: 1rem;
        margin-bottom: 2.5rem;
        column-gap: normal;
        column-count: auto;
        column-rule: none; } }
    @media only screen and (max-width: 37.5em) {
      .popup_text {
        margin-bottom: 2rem;
        font-size: .9rem; } }
    @media only screen and (min-width: 112.5em) {
      .popup_text {
        margin-bottom: 2rem;
        font-size: .9rem; } }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup_close, .popup:link, .popup:visited {
    text-decoration: none;
    color: #999;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    line-height: 1;
    display: inline-block; }
    .popup_close:hover, .popup:link:hover, .popup:visited:hover {
      color: #7ed56f; }
  @media only screen and (max-width: 37.5em) {
    .popup .most-pop {
      margin-left: -8rem; } }
  @media only screen and (min-width: 112.5em) {
    .popup .most-pop {
      margin-left: -8rem; } }
  @media only screen and (max-width: 37.5em) {
    .popup .btn-pop {
      margin-left: -5rem; } }
  @media only screen and (min-width: 112.5em) {
    .popup .btn-pop {
      margin-left: -5rem; } }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 20rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 25rem 0 10rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section-about {
      padding: 25rem 0 10rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -15rem;
  transform: skewY(-7deg);
  transition: all .2s; }
  .section-features > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section-features {
      padding: 15rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      padding: 5rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section-features {
      padding: 5rem 0; } }

.tours {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 20rem 0 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .tours {
      margin-top: -10vh;
      padding: 30rem 0 10rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .tours {
      margin-top: -10vh;
      padding: 30rem 0 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .tours {
      margin-top: -2.5vh;
      padding: 30rem 0 10rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .tours {
      margin-top: -2.5vh;
      padding: 30rem 0 10rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .tours {
      padding: 15rem 0 10rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .tours {
      padding: 15rem 0 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .tours {
      padding: 5rem 0 5rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .tours {
      padding: 5rem 0 5rem 0; } }

.section-story {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-story {
      padding: 10rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section-story {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-story {
      padding: 5rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section-story {
      padding: 5rem 0; } }

.section_booking {
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section_booking {
      padding: 10rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section_booking {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section_booking {
      padding: 5rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section_booking {
      padding: 5rem 0; } }

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  height: 50rem; }
  @media only screen and (max-width: 75em) {
    .booking {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (min-width: 112.5em) {
    .booking {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .booking {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/nat-10.jpg); } }
  @media only screen and (min-width: 112.5em) {
    .booking {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/nat-10.jpg); } }
  .booking_form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .booking_form {
        width: 100%;
        padding: 4rem; } }
    @media only screen and (min-width: 112.5em) {
      .booking_form {
        width: 100%;
        padding: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .booking_form {
        padding: 3rem; } }
    @media only screen and (min-width: 112.5em) {
      .booking_form {
        padding: 3rem; } }
