$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-yellow-light:#ffb900;
$color-yellow-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-white: #fff;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-grey-light-2: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$gutter-width-horizontal: 6rem;
$gutter-width-horizontal-small: 4rem;
$gutter-width-vertical: 8rem;
$gutter-width-vertical-small: 6rem;


$default-size: 1.6rem;